<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>
        后台管理页面
    </title>
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/manage.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    </meta>
</head>
<body>
<div class="container">
    <nav class="top">
        <img class="logo" src="image/newslogo.png"/>
        <a class="navi" href="#">
            新建
        </a>
        <a class="navi" href="#">
            查看站点
        </a>
        <a class="navi" href="#">
            清除缓存
        </a>
        <a class="navi" href="#">
            帮助
        </a>

        <p id="hello">
            您好,admin
        </p>
        <a class="logoout" href="#">
            退出
        </a>
    </nav>
    <div class="left">
        <table class="table table-hover">
            <tr class="in">
                <td>
                       <span class="on">
                            管理首页
                        </span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>
                            推荐新闻
                     </span>
                </td>
            </tr>
            <tr>
                <td>
                        <span>
                        百家新闻
                        </span>
                    </a>
                </td>
            </tr>
            <tr>
                <td>
                        <span>
                             本地新闻
                        </span>
                </td>
            </tr>
            <tr>
                <td>
                        <span>
                            娱乐新闻
                        </span>
                </td>
            </tr>
            <tr>
                <td>
                        <span>
                            社会新闻
                        </span>
                </td>
            </tr>
        </table>
    </div>
    <div class="right">

    </div>
</div>
<script type="text/javascript" src="js/manage.js"></script>
</body>
</html>