<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0;" name="viewport"/>
    <title>百度新闻</title>
    <link rel="stylesheet" type="text/css" href="/css/baidu.css">
    <script type="text/javascript" src="/js/jquery-2.1.4.min.js"></script>
</head>
<body>
<header>
    <div class="header">
        <div class="user-tool">
            <div class="logo"></div>
            <div class="user"></div>
            <div class="add"></div>
            <div class="search"></div>
        </div>
    </div>
</header>
<nav>
    <div class="link">
        <div class="divider"></div>
        <div class="content">
            <div class="nav">
                <span id="recomment" class="in">推荐</span>
            </div>
            <div class="nav">
                <span id="hundred">百家</span>
            </div>
            <div class="nav">
                <span id="local">本地</span>
            </div>
            <div class="nav">
                <span id="entertainment">娱乐</span>
            </div>
            <div class="nav">
                <span id="society">社会</span>
            </div>
        </div>
    </div>
</nav>
<article>

</article>
<script type="text/javascript" src="ejs.min.js"></script>
<script type="text/javascript" src="/js/baidu.js"></script>
</body>
</html>
